/* 언어설정 */
@charset 'UTF-8';
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap');
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* reset */
* {margin: 0;
    padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom;}

body {font-family: 'Prompt', sans-serif;
    overflow: hidden;}



/* 마우스커서값 */
.cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    z-index: 9999;
    transform: translate(10%, 0%);
    pointer-events: none;
}
.cursor img {
    width: 100%;
    height: 100%;
}





/* 인트로 설정######################################################## */
.intro {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 101;
    width: 100%;
    height: 100vh;
    background-color: #685454;
    animation: fadeOut 5s forwards;
}
@keyframes fadeOut {
    0% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 0; visibility: hidden;  }
}

.wrapper {
    height: 100vh;
    display: grid;
    place-items: center;
}

.typing-demo {
  width: 18ch;
  animation: typing 2s steps(18), blink 0.6s step-end infinite alternate, fadeOut 4.5s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #FEEDE8;
  font-size: 52px;
  font-weight: bold;
  color: #FEEDE8;
  font-family: 'Prompt', sans-serif;
}
.typing-demo img {
    vertical-align: middle;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}







/* 헤더 로고 ###################################################### */
header p {
    width: 200px;
    height: 200px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    animation: pulse 1.5s infinite;
}
header a {
    width: 100%;
    height: 100%;
}
header p img {
    width: 100%;
    height: 100%;
}


@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }


/* 헤더 메뉴 ################################################ */
header nav {
    position: fixed;
    left: 50%;
    margin-left: -300px;
    top: 67%;
    width: 600px;
    padding: 0 30px;
    height: 50px;
    z-index: 11;
}
header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav li {}
header nav a {
    color: #685454;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    
    z-index: 1;
    display: inline-block;
    padding: 10px;
    position: relative;
    transition: all 0.3s ease;
}

header nav a:hover {
    transition: all 0.3s 0.3s ease;
    text-decoration: none;
    color: white;
}

header nav a:before, header nav a:after {
    content: '';
    position: absolute;
    width: 5px;
    border-radius: 50%;
    background: #EA8A8A;
    top: 22px;
    transition: height 0.3s 0.3s ease, border-radius 0.3s 0.3s ease, top 0.3s 0.3s ease, width 0.3s ease;
  }

header nav a:before {
  height: 5px;
  left: 0;
}

header nav a:after {
  height: 0;
  right: 0;
}

header nav a:hover:before, header nav a:hover:after {
  top: 10%;
  width: 55%;
  height: 80%;
  z-index: -1;
  border-radius: 5px;
  transition: height 0.3s ease, border-radius 0.3s ease, top 0.3s ease, width 0.3s 0.3s ease;
}








/* 메인 ##################################################### */
.main {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #EBD5D5;
    z-index: 1;
}

.main-inner {
    width: 100%;
    height: 100%;
    
    background-image: url('img/main-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-inner .titBox {
    position: fixed;
    left: 9%;
    top: 22%;
    width: 82%;
    height: 400px;
    z-index: 10;
}

.main-inner h2 {
    color: #EA9085;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    -webkit-text-stroke: 1.5px #685454;
    font-family: 'Prompt', sans-serif;
}

.main-inner .title {
    width: 100%;
    height: 291px;
    position: absolute;
    left: 0;
    top: 27%;
    z-index: 5;
    display: flex;
    padding-left: 5px;
}

/* 타이틀 이미지 각자 크기 설정 */
.title li:nth-child(1){
    width: 12.24%;
    height: 100%;
    animation-delay: .2s;
}
.title li:nth-child(2){
    width: 23.72%;
    height: 100%;
    animation-delay: .4s;
}
.title li:nth-child(3){
    width: 11.79%;
    height: 100%;
    animation-delay: .6s;
}
.title li:nth-child(4){
    width: 33.48%;
    height: 100%;
    animation-delay: .8s;
}
.title li:nth-child(5){
    width: 4.59%;
    height: 100%;
    animation-delay: 1s;
}
.title li:nth-child(6){
    width: 13.9%;
    height: 100%;
    animation-delay: 1.2s;
}


.title li img {
    width: 100%;
    height: 100%;
    
}

.title li {
    animation: bounce .45s ease infinite alternate;
}

@keyframes bounce {
    100% {
        transform: translateY(-30px);
    }
}




/* 뒷배경 이미지 설정 */
.main-inner .back {
    visibility: visible;
}

.main-inner .back.hidden {
    visibility: hidden;
}

.main-inner .back li img {
    width: 100%;
    height: 100%;
}

.main-inner .back li:nth-child(1) {
    position: fixed;
    left: 80px;
    top: 100px;
    width: 730px;
    height: 730px;
    z-index: 2;
}
.main-inner .back li:nth-child(2) {
    position: fixed;
    right: 600px;
    top: 200px;
    width: 140px;
    height: 140px;
    z-index: 2;
    
    animation: rotate_image 5s ease infinite; transform-origin: 50% 50%;
}
.main-inner .back li:nth-child(3) {
    position: fixed;
    right: 700px;
    bottom: 200px;
    width: 100px;
    height: 100px;
    z-index: 2;
    
    animation: rotate_image 6s ease infinite; transform-origin: 50% 50%;
}
.main-inner .back li:nth-child(4) {
    position: fixed;
    left: 900px;
    top: 100px;
    width: 70px;
    height: 70px;
    z-index: 2;
    
    animation: rotate_image 7s ease infinite; transform-origin: 50% 50%;
}
.main-inner .back li:nth-child(5) {
    position: fixed;
    right: 360px;
    top: 220px;
    width: 50px;
    height: 50px;
    z-index: 2;
    
    animation: rotate_image 8s ease infinite; transform-origin: 50% 50%;
}
.main-inner .back li:nth-child(6) {
    position: fixed;
    left: calc(50% - 50px);
    bottom: 80px;
    width: 50px;
    height: 50px;
    z-index: 1;
    
    animation: rotate_image 10s linear infinite; transform-origin: -900% -600%;}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}








/* 프로필 설정 ######################################################## */
.profile {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 100%;
    z-index: 10;
    transition: all 0.8s;
    font-family: 'SUIT-Regular';
}

.profile.on {
    right: 0%;
    top: 0%;
    z-index: 10;
}

.profile-inner {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left bottom, #edb6b3, #efbcc7, #ebc4d9, #e5cde8, #ddd6f3);
    position: relative;
}

.profile-inner>article {
    position: absolute;
}

/* 뒷배경 이미지 설정 */
.profile-inner .back>li {}

.profile-inner .back li img {
    width: 100%;
    height: 100%;
}

.profile-inner .back li:nth-child(1) {
    position: absolute;
    left: 2%;
    bottom: 5%;
    width: 550px;
    height: 550px;
    z-index: 10;

    animation: rotate_image 30s ease infinite; transform-origin: 50% 50%;
}
.profile-inner .back li:nth-child(2) {
    position: absolute;
    right: 7%;
    top: 100px;
    width: 70px;
    height: 70px;
    z-index: 10;
    
    animation: rotate_image 5s ease infinite; transform-origin: 50% 50%;
}
.profile-inner .back li:nth-child(3) {
    position: absolute;
    right: 20%;
    bottom: 5%;
    width: 50px;
    height: 50px;
    z-index: 10;
    
    animation: rotate_image 7s ease infinite; transform-origin: 50% 50%;
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}



/* 프로필 왼쪽칸#################### */
.prof-left {
    z-index: 11;
    width: 29%;
    height: 80%;
    left: 10%;
    top: 12%;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    box-shadow: inset 0px 0px 20px 5px rgba(199, 169, 169, 0.5),
        2px 4px 10px 3px rgba(155, 134, 134, 0.8);
}

/* 프로필 이미지 뒤집기 */
.prof-left .imgBox {
    width: 274px;
    height: 274px;
    margin-left: calc(50% - 137px);
    margin-top: 15%;
    position: relative;
    perspective: 500px;
    
}
.prof-left .imgBox li {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}
.prof-left .imgBox .front {
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
}
.prof-left .imgBox .back {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.prof-left .imgBox img {
    width: 100%;
    height: 100%;
}

.prof-left .imgBox.on li {
    transform: rotateY(180deg);
}

/* 프로필 문구 */
.prof-left .txtBox {
    color: #685454;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    line-height: 1.5;
}



/* about ########################## */
.profile .about {
    width: 320px;
    height: 160px;
    position: absolute;
    left: calc(50% - 160px);
    bottom: 10%;
}
.profile .about ul {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    margin-left: 20px;
}
.profile .about li {
    margin: 20px 0;
    color: #9B8686;
    font-size: 18px;
}
.profile .about i {
    color: #EA8A8A;
    margin-right: 20px;
    vertical-align: bottom;
}
.profile .about span {
    font-size: 20px;
    font-weight: bolder;
    color: #685454;
}



/* profile 오른쪽칸################ */
.profile .prof-right {
    width: 50%;
    height: 80%;
    right: 10%;
    top: 12%;
    z-index: 11
    
}

.profile .prof-inner {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: #fff;
    position: relative;
    box-shadow: inset 0px 0px 20px 5px rgba(199, 169, 169, 0.5),
        2px 4px 10px 3px rgba(155, 134, 134, 0.8);
}

.profile .prof-inner .imgBox {
    width: 300px;
    height: 340px;
    position: absolute;
    left: 2%; 
    bottom: 0;
}
.profile .prof-inner .imgBox img {
    width: 100%;
    height: 100%;
}

.profile .prof-inner>div>h2 {
    color: #685454;
    font-size: 22px;
    font-weight: bolder;
}


/* education 설정 ##################### */
.profile .edu {
    width: 320px;
    height: 24%;
    position: absolute;
    left: 5%;
    top: 7%;
    
}

.profile .edu ul {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    margin-left: 20px;
    position: relative;
}
.profile .edu li {
    color: #9B8686;
    font-size: 18px;
    margin: 22px 0;
}
.profile .edu span {
    margin-right: 55px;
}

.profile .edu .now {
    font-weight: bold;
    color: #685454;
}

.profile .edu img {
    position: absolute;
    left: 24%;
    top: 50%;
    margin-top: -39.5px;
    width: 15px;
    height: 131px;
}


/* keywords 설정 ########################## */
.keywd {
    position: absolute;
    width: 320px;
    height: 26%;
    left: 5%;
    top: 36%;
}
.keywd ul {
    width: 100%;
    margin-top: 15px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.keywd li {
    margin: 15px 10px;
}
.keywd li span {
    color: #9B8686;
    padding: 6px 20px;
    border: rgba(234, 138, 138, 0.5) solid 2px;
    border-radius: 30px;
    font-size: 16px;
    
    transition: 0.35s;
}
.keywd li:hover {
    text-shadow: 0 0 15px #EA8A8A;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    cursor: default;
}

/* skill 설정 ####################### */
.profile .skill {
    width: 85%;
    height: 25%;
    padding: 0 20px;
    
    position: absolute;
    left: 5%;
    bottom: 7%;
}
.profile .skill h2 {
    margin-bottom: 25px;
    margin-left: -10px;
}
.profile .chart {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}
.profile .chart>div {
    width: 100px;
    height: 100px;
    /* display: inline-block;
    border-radius: 50%;
    transition: all 0.3s;
    background-color: aqua; */
    position: relative;
}

.profile .chart>div>img {
    display: block;
    width: 61px;
    height: 62px;
    background-color: #Fff;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    left: 10%;
    top: 9%;
}

.profile .chart>div>p {
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    color: #9B8686;
}

/* 원형차트 애니메이션 */

/* 차트1 */
.profile .skill-chart1 circle {
    stroke-dasharray: 400;
    transform: rotate(-90deg) rotateX(-180deg);
    transform-origin: center;
    animation: dash1 3s forwards;
}
@keyframes dash1 {
    from {
        stroke-dashoffset: 400;
    }
    to {
        stroke-dashoffset: 220;
    }
}

/* 차트2 */
.profile .skill-chart2 circle {
    stroke-dasharray: 400;
    transform: rotate(-90deg) rotateX(-180deg);
    transform-origin: center;
    animation: dash2 3s forwards;
}
@keyframes dash2 {
    from {
        stroke-dashoffset: 400;
    }
    to {
        stroke-dashoffset: 170;
    }
}

/* 차트3 */
.profile .skill-chart3 circle {
    stroke-dasharray: 400;
    transform: rotate(-90deg) rotateX(-180deg);
    transform-origin: center;
    animation: dash3 3s forwards;
}
@keyframes dash3 {
    from {
        stroke-dashoffset: 400;
    }
    to {
        stroke-dashoffset: 170;
    }
}

/* 차트4 */
.profile .skill-chart4 circle {
    stroke-dasharray: 400;
    transform: rotate(-90deg) rotateX(-180deg);
    transform-origin: center;
    animation: dash4 3s forwards;
}
@keyframes dash4 {
    from {
        stroke-dashoffset: 400;
    }
    to {
        stroke-dashoffset: 190;
    }
}

/* 차트5 */
.profile .skill-chart5 circle {
    stroke-dasharray: 400;
    transform: rotate(-90deg) rotateX(-180deg);
    transform-origin: center;
    animation: dash5 3s forwards;
}
@keyframes dash5 {
    from {
        stroke-dashoffset: 400;
    }
    to {
        stroke-dashoffset: 220;
    }
}


/* personality 설정###################### */
.prsnl {
    width: 43%;
    height: 50%;
    position: absolute;
    right: 5%;
    top: 7%;
}
.prsnl p {
    margin-left: 20px;
    margin-top: 15px;
    color: #EA8A8A;
    font-weight: bold;
    display: block;
}
.prsnl img {
    width: 82%;
    height: 75%;
    margin-left: 9%;
    margin-top: 20px;
}







/* 프로젝트 설정 ##################################################### */
.project {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 100%;
    top: 100%;
    z-index: 10;
    transition: all 0.8s;
}
.project.on {
    left: 0;
    top: 0;
    z-index: 10;
}
.project-inner {
    width: 100%;
    height: 100%; 
    background-image: linear-gradient(to right bottom, #f8ced3, #f1d9ef, #e2e7ff, #d9f5ff, #e0fffe);
    /* background-image: url('img/main-background.png');
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
}

/* 뒷배경 이미지 설정 */
.profile .back {}

.project-inner .back li img {
    width: 100%;
    height: 100%;
}

.project-inner .back li:nth-child(1) {
    position: absolute;
    left: 15%;
    bottom: 7%;
    width: 250px;
    height: 250px;
    z-index: 10;

    animation: rotate_image 7s ease infinite; transform-origin: 50% 50%;
}
.project-inner .back li:nth-child(2) {
    position: absolute;
    right: 18%;
    top: 10%;
    width: 120px;
    height: 120px;
    z-index: 10;
    
    animation: rotate_image 5s ease infinite; transform-origin: 50% 50%;
}
.project-inner .back li:nth-child(3) {
    position: absolute;
    left: 30%;
    top: 7%;
    width: 50px;
    height: 50px;
    z-index: 10;
    
    animation: rotate_image 3s ease infinite; transform-origin: 50% 50%;
}
.project-inner .back .me {
    position: absolute;
    width: 183px;
    height: 404px;
    right: 0%;
    top: 3%;
    z-index: 10;
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}


/* 프로젝트칸 전체 설정 */
.project-inner>article {
    z-index: 11;
    position: absolute;
    width: 28%;
    height: 62%;
    background-color: #fff;
    border-radius: 30px;
    
    font-family: 'SUIT-Regular';
    box-shadow: inset 0px 0px 15px 5px rgba(199, 169, 169, 0.5),
        2px 4px 8px 3px rgba(155, 134, 134, 0.6);

    transition: all 0.5s;
}

.project-inner>article:hover {
    transform: scale(1.05);
}

.project-inner>article>div {
    width: 90%;
    height: 53%;
    margin: 0 auto;
    margin-top: 30px;
}

.project-inner>article>div>img {
    width: 75%;
    margin-left: 12.5%;
    height: 100%;
}

.project-inner>article>h2 {
    color: #685454;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 2px;
}

.project-inner>article>p {
    font-size: 16px;
    color: #9B8686;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 3px;
}

.project-inner>article>ul {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.project-inner>article>ul>li>a {
    font-size: 16px;
    color: #9B8686;
    width: 160px;
    height: 45px;
    border: #EA8A8A 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
    border-radius: 35px;
}

/* a 링크 애니메이션 */
.project-inner>article>ul>li>a:before {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    bottom: -15px;
    right: -15px;
    background: #fff;
    border-radius: 35px;
    padding: 15px 25px;
    z-index: -1;
    opacity: 1;
    -webkit-transform: scale3d(0.8, 0.5, 1);
    transform: scale3d(0.8, 0.5, 1);
}

.project-inner>article>ul>li>a:hover {
    background-color: #EA8A8A;
    color: #Fff
}

.project-inner>article>ul>li>a:hover::before {
    -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
    animation: anim-moema-2 0.3s 0.3s forwards;
}

.project-inner>article>ul>li>a:hover {
    -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    background-color: #EA8A8A;
    -webkit-animation: anim-moema-1 0.3s forwards;
    animation: anim-moema-1 0.3s forwards;
}

/* 애니메이션 효과 */
@-webkit-keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }
    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}



/* 프로젝트 첫번째 칸 */
.project-1 {
    left: 5%;
    top: 20%;
}

/* 프로젝트 두번째 칸 */
.project-2 {
    left: 35.5%;
    top: 20%;
}

/* 프로젝트 세번째 칸 */
.project-3 {
    right: 5%;
    top: 20%;
}


/* 컨셉뷰 팝업 설정 ################################################ */
.concept {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}
.concept.on {
    display: block;
}

.concept span {
    position: absolute;
    right: calc(20% - 48px);
    top: 10%;
    z-index: 100;
}
.concept span i {
    font-size: 48px;
    color: #fff;
    transition: all 0.4s;
}

.concept span:hover i {
    color: #EBD5D5;
    cursor: pointer;
}
.concept span i:hover {
    transform: rotate(180deg);
    transform-origin: center center;
}

.popup {
    background-color: #fff;
    width: 60%;
    height: 80%;
    position: absolute;
    left: 20%;
    top: 10%;
    border-radius: 30px;
    box-shadow: inset 0px 0px 15px 5px rgba(199, 169, 169, 0.5),
        2px 4px 8px 3px rgba(100, 100, 100, 0.6);
    overflow-y: scroll;
}

.popup::-webkit-scrollbar {
    display: none;
}

.popup>li {
    width: 100%;
    height: auto;
    display: none;
}

.popup>li.on {
    display: flex;
}

.popup>li>img {
    width: 100%;
    height: auto;
    mix-blend-mode: multiply;
}










/* footer#################################################### */
footer {}
footer p {
    position: fixed;
    right: 3%;
    bottom: 5%;
    z-index: 20;
    width: 25px;
    height: 25px;
}
footer i {
    font-size: 24px;
    color: #EA9085;
}
footer div {
    position: absolute;
    right: 4.5%;
    bottom: 4.5%;
    z-index: 99;
    width: 870px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid #EA9085;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0; /* 초기에 투명하게 설정 */
    visibility: hidden; /* 초기에 숨김 처리 */
    transition: opacity 1s, visibility 1s; /* 트랜지션 속성 추가 */
}

footer div.show {
    opacity: 1;
    visibility: visible;
    animation: slideInRight 1s 0.1s;
}

footer span {
    font-family: 'SUIT-Regular';
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #685454;
}

footer p:hover i {
    color: #685454;
    cursor: pointer;
}

@keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }