/* 언어 설정 */
@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* reset */
* {margin: 0;
   padding: 0;}
a {text-decoration: none;
   color: #000;}
ul,ol {list-style: none;}
img {border: none;
     vertical-align: bottom;}

body {font-family: 'Goldman', sans-serif;}



/* 팝업메뉴 설정 */
.popUpBox {font-family: 'Inter', sans-serif;
           position: absolute;
           width: 300px; background-color: #fff;
           height: calc(80px + 95vh); 
           top: 0;
           left: -100%;
           z-index: 100;}

.popUpBox p {}
.popUpBox nav .fa-times-circle-o {font-size: 22px;
                                   float: right;
                                   padding-right: 30px;}

.popUpBox nav i:hover {cursor: pointer;
                       color: #999;}

.popUpBox nav {height: 100%;
               width: 100%;
               display: flex;
               flex-direction: column;
               justify-content: space-around;}

.popUpBox .gnb {font-size: 18px;
                padding-left: 40px;}
.popUpBox .gnb li {padding-bottom: 29px;}

.popUpBox .login {font-size: 16px;
                  padding-top: 150px;
                  padding-left: 40px;}
.popUpBox .login li {padding-bottom: 15px;}
.popUpBox .login a {color: #888}

.popUpBox .snsSet {display: flex;
                   text-align: center;
                   padding-top: 150px;
                   padding-left: 10px;}
.popUpBox .snsSet li {padding: 0 17px;}
.popUpBox .snsSet li a {padding-left: 15px;}
.popUpBox .snsSet i {font-size: 20px;
                     color: #888;}

.popUpBox ul>li:hover {cursor: pointer;
                       color: #CC1A2D;}
.popUpBox ul>li:hover a{cursor: pointer;
                       color: #CC1A2D;}
.popUpBox ul>li:hover i{color: #333;}


/* header 설정 */
.box1 {background-color: #000;
       height: 80px;}
.box1-inner {width: 80%;
               height: 100%;
               margin: 0 auto;
               display: flex;
               justify-content: space-between;
               align-items: center;}

.box1-inner p {}
.box1-inner a {}
.box1-inner i {font-size: 20px;
               color: #fff;}

.box1-inner i:hover {color: #ccc;}

.box1-inner h2 {font-size: 32px;
                letter-spacing: 7%;
                font-weight: normal;
                color: #fff;}
.box1-inner ul {display: flex;}
.box1-inner li {margin-left: 28px;}
.box1-inner li a {}
.box1-inner li i {font-size: 20px;
                  color: #fff;}



/* box2 설정 */
.box2 {width: 100%;
       height: 95vh;}
.box2 .vid {width: 100%;
            height: 100%;}
video {height: 100%;
       width: 100%;
       z-index: -1;
       object-fit: cover;}



/* box3 설정 */
.box3 {background: url(img/series-background.jpg);
       background-repeat: no-repeat;
       background-position: center center;
       background-size: cover;
       width: 100%;
       height: 1043px;
       position: relative;}

.seriesM {display: flex;
          justify-content: center;
          align-items: flex-start;}
.seriesM li {font-size: 32px;
             margin: 80px 0 40px 0;
             padding: 0 39px;}
.seriesM a {color: #999;}
.seriesM li:nth-child(1) {border-right: 5px solid #CC1A2D;}
.seriesM li:hover a{color: #CC1A2D;
                   cursor: pointer;}

.imgBox {
         width: 100%;
         height: 525px;}

.imgBox .bar {position: absolute;
              width: 880px;
              left: calc(50% - 440px);
              bottom: 100px;
              text-align: center;}
.imgBox .bar img {width: 100%;
                  margin-bottom: 65px;}


.imgBox .bar .hov {background-color: #CC1A2D;
                   width: 15px;
                   height: 15px;
                   border-radius: 50%;
                   position: absolute;
                   left: calc(50% - 7.5px);
                   top: 38%;
                   animation: ani1 0.8s infinite alternate;}
.imgBox .bar .int {border: 3px solid #CC1A2D;
                   width: 30px;
                   height: 30px;
                   opacity: 0.5;
                   border-radius: 50%;
                   position: absolute;
                   left: calc(50% - 15px - 3px);
                   top: calc(38% - 7.5px - 3px);
                   animation: ani2 0.8s infinite alternate;}

@keyframes ani1 {
       0% {transform: scale(1);}
       100% {transform: scale(1.5);;}
}
@keyframes ani2 {
       0% {transform: scale(1);
           opacity: 1;}
       100% {transform: scale(1.8);
             opacity: 0.8;}
}


.imgBox .bar p {font-size: 20px;
                font-family: 'Inter', 'sans-serif';
                color: #d1d1d1;
                width: 700px;
                letter-spacing: 7%;
                margin: 0 auto;}
.imgBox .bar p strong {font-size: 24px;
       font-family: 'Goldman', sans-serif;
       font-weight: normal;
       color: #fff;}
.imgBox .bar a {background-color: #f0f0f0;
                    display: block;
                    text-align: center;
                    width: 300px;
                    padding: 17px 0;
                    border-radius: 30px;
                    margin-top: 45px;
                    margin-left: auto;
                    margin-right: auto;}
.imgBox .bar .more {font-size: 20px;
                letter-spacing: 7%;
                color: #1a1a1a;
                font-family: 'Goldman', sans-serif;
                width: 100%;}
.imgBox .bar a:hover {background-color: #d1d1d1;}
.imgBox .bar a:hover .more{color: #A50034;}


.box3 .imgBox button {position: absolute;
                      z-index: 101;
                      display: none;}

.slide {position: relative;
        width: 100%;
        height: 580px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;}
.inner {height: 460px;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 2s;}

.inner li {opacity: 0.5;
           width: 635px;
           height: 100%;
           text-align: center;
           transition: all 0.5s;
           transform: scale(0.5);}

           
.inner li img {width: 100%;
               height: 100%;}

.inner li.on {transform: scale(1);
              opacity: 1;}




/* box4 설정 */
.box4 {background-image: url(img/info-background.jpg);
       background-position: center center;
       background-repeat: no-repeat;
       background-size: cover;
       width: 100%;
       height: 100vh;
       display: flex;
       position: relative;}

.box4>div {width: 50%;}

.box4-1 {}
.box4-1 ul {}
.box4-1 li {display: none;
            width: 600px;
            height: 700px;
            position: absolute;
            left: calc(25% - 300px);
            top: 120px;}
.box4-1 img {width: 100%;
            height: 560px;
            margin-bottom: 40px;}
.box4-1 p {text-align: center;
           font-size: 20px;
           letter-spacing: 3%;}


.box4-2 {height: 100%;}
.box4-2 ul {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;}
.box4-2 li {font-size: 56px;
            font-weight: bold;
            color: transparent;
            -webkit-text-stroke: 1.5px #f0f0f0;
            text-align: right;
            margin-bottom: 130px;
            transition: all 0.5s;;}

.box4-2 li:nth-child(4) {margin-bottom: 0px;}

.box4-2 li:hover {cursor: pointer;
                  color: #f0f0f0;
                  -webkit-text-stroke: none;}



/* box5 설정 */
.box5 {background-color: #000;
       width: 100%;
       height: 170vh;}

.box5 .topBox {width: 60%;
               margin: 0 auto;
               margin-bottom: 60px;
               text-align: center;}
.box5 h2 {color: #fff;
          font-weight: normal;
          font-size: 48px;
          letter-spacing: 5%;
          padding-top: 160px;
          margin-bottom: 110px;}
.box5 h2 strong {color: #A50034;
                 font-weight: normal;}

.box5 .topBox img {width: 965px;
                   height: 485px;}

.box5 ul {display: flex;
          width: 90%;
          margin: 0 auto;
          justify-content: center;
          align-items: flex-start;
          font-family: 'Inter', sans-serif;}
.box5 li {width: 45%;
          margin: 0 50px; 
          height: 650px;
          position: relative;}
.box5 li img {width: 100%;
              height: 500px;}
.box5 li .txtBox {position: absolute;
                  background-color: rgba(40, 40, 40, 0.8);
                  width: calc(100% - 40px);
                  padding: 10px 20px;
                  opacity: 0;
                  left: 0;
                  bottom: 23%;
                  transition: all 0.5s;}
.box5 li span {font-size: 28px;
               letter-spacing: 5%;
               color: #f0f0f0;
               font-weight: bold;
               padding-left: 30px;
               border-left: #A50034 solid 18px;}
.box5 li em {font-style: normal;
             font-size: 18px;
             letter-spacing: 3%;}
.box5 li .txtBox p {font-size: 20px;
                    color: #f0f0f0;
                    letter-spacing: 15%;
                    line-height: 1.5;
                    margin-top: 20px;
                    margin-left: 50px;}

.box5 li:hover .txtBox {opacity: 1;}




/* box6 설정 */
.box6 {display: flex;
       width: 100%;
       height: 160vh;
       background-color: #111;
       position: relative;
       overflow: hidden;}

.box6-1 {width: 40%;
         height: 100%;
         position: absolute;
         left: 0;
         top: -100%;}
.box6-1 p {transform: rotate(-90deg);
           height: 450px;
           width: 100%;
           font-size: 450px;
           font-weight: bold;
           color: #f0f0f0;
           margin-top: 310px;
           margin-left: -200px;
           transform-origin: right bottom;}

.box6-2 {width: 60%;
         height: 100%;
         position: absolute;
         right: 0;
         top: 100%; /* top: 100%; 으로 올라오기*/}
.box6-2 .txtBox {color: #f0f0f0;
                 width: 80%;
                 margin: 0 auto;}
.box6-2 .txtBox h3 {font-size: 44px;
                    letter-spacing: 5%;
                    margin-top: 120px;
                    margin-bottom: 90px;}
.box6-2 .txtBox p {font-size: 29px; 
                   font-weight: normal;
                   letter-spacing: 5%;
                   line-height: 2;}

.box6-2 .nameBox {text-align: right;
                  margin-right: 80px;
                  margin-top: 130px;
                  color: #f0f0f0;}
.box6-2 .nameBox img {width: 330px;
                      height: 160px;
                      margin-bottom: 30px;}
.box6-2 .nameBox h3 {font-size: 25px;
                     letter-spacing: 5%;
                     font-weight: normal;
                     line-height: 1.5;
                     margin-bottom: 20px;}
.box6-2 .nameBox p {font-size: 20px;
                    letter-spacing: 5%;
                    font-weight: normal;}



/* box7 설정 */
.box7 {width: 100%;
       height: 355px;
       background-image: url(img/banner-background.jpg);
       background-position: center top;
       background-size: cover;
       background-repeat: no-repeat;}

.box7 .txtBox {padding-top: 65px;
               margin-left: 10%;}

.box7 h2 {font-size: 42px;
          color: #fff;
          font-weight: normal;
          letter-spacing: 6%;
          margin-bottom: 40px;}
.box7 a {display: inline-block;
         border-radius: 30px;
         color: #1a1a1a;
         font-size: 20px;
         letter-spacing: 7%;
         padding: 17px 65px;
         background-color: #f0f0f0;}

.box7 a:hover {color: #A50034;
               cursor: pointer;}


/* box8 설정 */
.box8 {width: 100%;
       height: 85vh;
       background-color: #f0f0f0;
       display: flex;}

.box8-1 {width: 45%;
         position: relative;}
.box8-1 ul {display: flex;
            width: 40%;
            margin-left: 15%;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 80px;}

.box8-1 li {font-size: 20px;
            letter-spacing: 10%;}

.box8-1 li:hover {color: #A50034;
                  cursor: pointer;}
.box8-1 h2 {position: absolute;
            left: 15%;
            bottom: 12%;
            font-size: 52px;
            color: #222;
            letter-spacing: 10%;
            font-weight: normal;}

.box8-2 {width: 55%;}
.box8-2 .btnBox {display: flex;
                 justify-content: flex-end;
                 align-items: center;
                 margin-top: 75px;
                 margin-bottom: 60px;
                 position: relative;}
.box8-2 .btnBox i {font-size: 15px;
                   text-align: center;
                   color: #000;
                   padding: 12px 15px;
                   border: solid 1px #666;
                   border-radius: 50%;
                   margin-right: 17px;}
.box8-2 .btnBox .line1 {width: 80%;
                        height: 2px;
                        background-color: #999;
                        border: none;
                        position: absolute;
                        left: 0;
                        top: calc(50% - 1px);}
.box8-2 .btnBox .line2 {width: 60%;
                        height: 5px;
                        background-color: #222;
                        border: none;
                        position: absolute;
                        left: 0%;
                        transition: all 0.5s;
                        top: calc(50% - 2px);}

.box8-2 .btnBox>p:hover i{color: #888;
                          cursor: pointer;
                          border: 1px solid #999;}

.box8-2 .imgBox {width: 100%;
                 height: 550px;
                 position: relative;
                 overflow: hidden;}
.box8-2 .imgBox ul{display: flex; 
                   width: 200%;
                   height: 100%;
                   position: absolute;
                   left: 0;
                   bottom: 0;}
.box8-2 .imgBox li {width: 20%;
                    height: 100%;
                    overflow: hidden;}
.box8-2 .imgBox img {width: 90%;
                     height: 100%;}



/* footer */
footer {width: 100%;
        height: 300px;
        background-color: #000;
        color: #fff;}

footer div {
       width: 100%;
       height: 100%;
       text-align: center;
}

footer div .menu1 {
       width: 30%;
       margin-left: 35%;
       height: 20%;
       padding-top: 50px;
       display: flex;
justify-content: space-between;
align-items: center;}
footer div .menu1 li {}
footer div .menu1 a {
       font-size: 16px;
       color: #fff;
}
footer div .menu1 a:hover {
       color: #d1d1d1;
}

footer div .menu2 {
       margin-top: 25px;
}
footer div .menu2 li {
       font-size: 18px;
       margin: 10px 0;
}
footer div .menu2 li:last-child {
       margin-top: 20px;
       color: #999;
       font-weight: bold;
}



/* 미디어쿼리 구간 */
/* 1290px 이상 1500px 이하 */
@media (min-width: 1290px) and (max-width: 1500px){
       
       .inner {left: -16%;}

       .box4-1 li {top: 180px;}
       .box4-1 img {margin-bottom: 65px;}

       .box4-2 li {font-size: 52px;
                     letter-spacing: -3px;}

       .box5 ul{height: 600px;
                padding: 0;}
       .box5 li{margin-left: auto;
                margin-right: auto;
                padding-top: 50px;}
       .box5 li .txtBox {bottom: 21.2%;}

       .box6-2 {top: 100%;}
       .box6-2 .txtBox p {font-size: 26px; 
              font-weight: normal;
              letter-spacing: 5%;
              line-height: 2;}

       .box6-1 {top: -100%;}
       .box6-1 p {margin-top: 550px;
                  margin-left: -150px;}
       
       .box8-1 h2 {bottom: 15%;}
       .box8-2 .imgBox ul{width: 250%;}
       .box8-2 .btnBox {margin-bottom: 80px;}
}
