/* 언어 설정 */
@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* reset */
* {
   margin: 0;
   padding: 0;
}
a {
   text-decoration: none;
   color: #000;
}
ul,ol {
   list-style: none;
}
img {
   border: none;
   vertical-align: bottom;
   }

   
/* 장바구니 설정############################################## */
.addcart {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: calc(100% - 80px);
    left: 0;
    top: 80px;
    z-index: 99;
 }
 .addcart h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
 }
 .addcart p {
    text-align: center;
    font-size: 15px;
    color: #666;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
 }
 
 .addcart .cart-tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 90%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
 }
 .addcart .cart-tit li {
    margin: 0 10px;
 }
 .addcart i {
    margin-right: 5px;
 }
 
 
 .addcart .cart-tit button {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 30px;
    background-color: #fff;
    border: 1px solid #000;
 }
 .addcart .cart-tit button:nth-child(2) {
    background-color: #1a1a1a;
    color: #fff;
 }
 
 .addcart article {
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
    width: 90%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
 }
 .addcart .cart-head ul {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
 }
 .addcart .cart-head li {
    font-size: 17px;
    font-weight: bold;
    width: 20%;
    text-align: center;
 }
 
 .addcart .cart-list {
    width: 100%;
    height: 100%;
 }
 .addcart .cart-list ul {
    width: 100%;
    height: 100%;
    display: block;
 }
 .addcart .cart-list li {
    width: 100%;
    height: 106px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: #ccc solid 1px;
 }
 .addcart .cart-list li>div {
    width: 20%;
    text-align: center;
 }
 
 .cart-list .cart-input input{
    text-align: center;
    width: 50px;
 }
 
 
 .addcart .cart-allprice {
    border-top: 1px solid #ccc;
 }
 .addcart .cart-allprice p {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-right: 20px;
    margin-bottom: 10px;
 }
 .addcart .cart-allprice span {
    color: #CC1A2D;
    display: block;
    font-size: 32px;
    font-weight: normal;
    font-family: 'Goldman', sans-serif;
 }
 .addcart .cart-button {
    margin-top: 30px;
    text-align: center;
 }
 .addcart .cart-button button {
    font-size: 22px;
    background-color: #fff;
    width: 250px;
    height: 60px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #000;
 }
 .addcart .cart-button button:nth-child(2) {
    background-color: #1a1a1a;
    color: #fff;
 }
 .addcart .cart-button button:hover {
    background-color: #1a1a1a;
    color: #fff;
    cursor: pointer;
 }